YT_PRO_MAX_DATA_DIR=data
YT_PRO_MAX_MAX_DURATION_SECONDS=21600
YT_PRO_MAX_YOUTUBE_RETRIES=3
YT_PRO_MAX_WHISPER_MODEL=turbo
YT_PRO_MAX_WHISPER_DEVICE=auto
YT_PRO_MAX_GPU_COMPUTE_TYPE=float16
YT_PRO_MAX_CPU_COMPUTE_TYPE=int8
